.navbar {
    height: 80px;
    width: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    font-size: 1.2rem;
}

.nav-logo {
    text-decoration: none;
    color:white;

}

.nav-links {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.nav-link :hover {
    color: tomato;
}
.nav-icons {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}