.footer {
    width: 100%;
    padding: 20px;
}
.footer-list {
    width: 60%;
    
}
 .footer-media-item {
    list-style: none;
    display: inline;
    margin: 15px; 
    cursor: pointer;

    
 }
    
 .footer-media-link {
    
    color: papayawhip;
    
    
}


/* .footer img {
    max-width: 60px;
    
    
} */

/* .footer img:not(:last-child) {
    margin-right: 10px;
    
} */