* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff ;
}

body::-webkit-scrollbar {
  display: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

p {
  line-height: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New"
}
h1,
h2 {

  font-family: "Rightoes" "curtive" ;
}

